fastapi == 0.128.0
pydantic == 2.12.5
uvicorn == 0.40.0
langchain
openai
ragas
neo4j
pydantic_settings
azure-search-documents == 11.6.0
igraph
sentence-transformers
pytest
pytest-asyncio
httpx
coverage
